<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartacademicsystem">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sas"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TeachersProfileActivity" />
        <activity android:name=".GuardianHomeActivity" />
        <activity android:name=".TeachersHomeActivity" />


        <activity android:name=".StudentHomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>


        <activity android:name=".GuardianLoginActivity" />
        <activity android:name=".TeachersLoginActivity" />
        <activity android:name=".StudentLoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>